@import '~styles/index';
@import '~styles/ui';

html {
  font-family: Helvetica, sans-serif;
}

body {
  padding: 2em;
}

.container {
  display: flex;
  width: 100%;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.column {
  width: 25%;

  @media only screen and (max-width: 768px) {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.status {
  margin-top: 1rem;
}